<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="/Public/manager/css/pintuer.css">
    <link rel="stylesheet" href="/Public/manager/css/admin.css">
    <script src="/Public/manager/js/jquery.js"></script>
    <script src="/Public/manager/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 商品列表</strong></div>
    <table class="table table-hover text-center">
        <tr>
            <th width="10%">缩略图</th>
            <th width="10%">商品名称</th>
            <th width="10%">商品描述</th>
            <th width="10%">兑换积分</th>
            <th width="10%">数量</th>
            <th width="10%">分类</th>
            <th width="15%">操作</th>
        </tr>
        <volist id="vo" name="commclist">
        <tr>
            <td><img src="/manager/{$vo.imgurl}" alt="" width="114" height="60" /></td>
            <td>{$vo.name}</td>
            <td>{$vo.contc}</td>
            <td>{$vo.integral}</td>
            <td>{$vo.number}（{$vo.spec}）</td>
            <td>{$vo.cname.classname}</td>
            <td><div class="button-group">
                <a class="button border-main" href="/manager/index.php/Home/Buy/edit?id={$vo.id}"><span class="icon-edit"></span> 修改</a>
                <a class="button border-red" href="javascript:void(0)" onclick="return del({$vo.id})"><span class="icon-trash-o"></span> 删除</a>
            </div></td>
        </tr>
        </volist>
        <tr>
            <td colspan="7">
                <div class="pagelist">
                    {$page}
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function del(id){
        if(confirm("您确定要删除吗?")){
            $.post("/manager/index.php/Home/Buy/contdelete",{id:id},function(data){
                alert(data);
                location.reload();
            });
        }
    }
</script>

</body>
</html>