@CHARSET "UTF-8";

.list_huodong_part_title{
	font-size: 1.1rem;
	padding: 3% 5%;
	border-top: 1px solid #E0E0E0;
}
.search_area{
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	padding: 3% 7%;
}
.search_input{
	width: 80%;
	height: 100%;
}
.search_btn{
	width: 15%;
	height: 100%;
	/*background-image: url(..images/query.png);
	background-size: 100%;*/
}
.list_huodong_part1_items_ul li{
	overflow: hidden;
	margin-top: 3%;
	display: flex;
	display: -webkit-flex;
	margin-left: 5%;
}
.list_huodong_part1_items_ul li img{
	width: 20%;
	height: 100%;
}
.list_huodong_part1_items_ul .list_huodong_part1_items_title{
	margin-left: 5%;
	margin-top: 5%;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
}
.list_huodong_part1_items_title span{
	float: right;
	margin-right: 5%;
}
.list_huodong_part1_items_ul li h3{
	font-size: 1rem;
	color: #242424;
}
.list_huodong_part1_items_ul .list_huodong_part1_items_desc{
	font-size: 0.9rem;
	color: #666666;
	padding: 2% 0;
}

