<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>积分商城-贵港红房子</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/article_lipin.css" />
	</head>
	<body>
		<header class="index_center">
			<img src="images/logo.png" class="auto_margin" style="width: 65%;padding: 3% 0;" />
		</header>
		<article class="index_center">
			<img src="images/dh-banner.jpg" />
		</article>
		<article class="jf_nav index_center" style="margin: 3% auto;">
			<ul class="jf_nav_ul">
				<li>
					<a href="list_huodong.html">
						<img src="images/nav1.jpg" />
						<h2>活动</h2>
					</a>
				</li>
				<li>
					<a href="sign_in.html">
						<img src="images/nav2.jpg" />
						<h2>签到</h2>
					</a>
				</li>
				<li>
					<a href="list_jifen.html">
						<img src="images/nav3.jpg" />
						<h2>积分</h2>
					</a>
				</li>
				<li>
					<a href="list_duihuan.html">
						<img src="images/nav4.jpg" />
						<h2>兑换查询</h2>
					</a>
				</li>
			</ul>
		</article>
		<article class="index_center">
			<img src="images/index-banner.jpg" />
		</article>
		<article class="article_lipin_part1 index_center" style="padding: 8% 0">
			<div class="lipin_title_area">
				<div class="lipin_title_area_l">
					<h2 class="title">苹果笔记本</h2>
					<p class="desc">多角度绽放你的美</p>
					<p class="jf_num"><span style="color: #8064a2;">●</span>积分：88</p>
				</div>
				<div class="lipin_title_area_r">
					<p><img src="images/hg2.png" /><span>会员积分&nbsp;98</span></p>
				</div>
			</div>
			<div class="lipin_guige_area">
				<div class="lipin_guige_area_l">
					<p>品牌：苹果</p>
					<p>规格：件</p>
				</div>
				<div class="lipin_guige_area_r">
					<p class="duihuan"><a href="#" style="color: #FFFFFF;">积分兑换</a></p>
				</div>
			</div>
			<p class="lipin_desc widthmargin">
				礼品描述: 多角度绽放你的美多角度绽放你的美多角度绽放你的美多角度绽放你的美多角度绽放你的美多角度绽放你的美多角度绽放多角度绽放你的美多角度绽放你的美你的美多角度绽放你的美
			</p>
		</article>
		
		<div class="fenge"></div>
		<footer>
			<ul>
				<li>
					<a href="index.html">
						<i class="iconfont icon-zhuye"></i>
						<p>首页</p>
					</a>
				</li>
				<li>
					<a href="fenlei.html">
						<i class="iconfont icon-wendashoujibanICON-"></i>
						<p>分类</p>
					</a>
				</li>
				<li>
					<a href="tongzhi.html">
						<i class="iconfont icon-xiaoxi"></i>
						<p>消息</p>
					</a>
				</li>
				<li>
					<a href="my.html">
						<i class="iconfont icon-yonghu"></i>
						<p>我的</p>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>