<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>积分商城-贵港红房子</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/article_huodong.css" />
	</head>
	<body>
		<header class="index_center">
			<img src="images/logo.png" class="auto_margin" style="width: 65%;padding: 3% 0;" />
		</header>
		<article class="index_center">
			<img src="images/index-banner.jpg" />
		</article>
		<article class="jf_nav index_center" style="margin: 3% auto;">
			<ul class="jf_nav_ul">
				<li>
					<a href="list_huodong.html">
						<img src="images/nav1.jpg" />
						<h2>活动</h2>
					</a>
				</li>
				<li>
					<a href="sign_in.html">
						<img src="images/nav2.jpg" />
						<h2>签到</h2>
					</a>
				</li>
				<li>
					<a href="list_jifen.html">
						<img src="images/nav3.jpg" />
						<h2>积分</h2>
					</a>
				</li>
				<li>
					<a href="list_duihuan.html">
						<img src="images/nav4.jpg" />
						<h2>兑换查询</h2>
					</a>
				</li>
			</ul>
		</article>
		<article class="article_huodong_part1 index_center" style="margin-bottom: 5%">
			<h1 class="article_huodong_part_title">文章内容标题</h1>
			<div class="article_desc">
				<span>2017-8-15</span>
				<span>阅读588</span>
			</div>
			<div class="article_content widthmargin">
				<p>
					始建于2015年，是按照美国JCI国际医疗评鉴标准规划布局，是经贵港市卫计委批准创办的一家集医疗、科研、预防、保健为一体，专注服务广大女性朋友的现代化妇科、产科专业医院，以全新的视角全面呵护女性健康。医院采用国际化妇产医疗模式，针对孕产妇在全过程的医疗保健和健康宣教，以及育婴服务等妇婴医疗流程和就医路径进行科学、全面、系统地设计和照护。
				</p>
				<p>
					始建于2015年，是按照美国JCI国际医疗评鉴标准规划布局，是经贵港市卫计委批准创办的一家集医疗、科研、预防、保健为一体，专注服务广大女性朋友的现代化妇科、产科专业医院，以全新的视角全面呵护女性健康。医院采用国际化妇产医疗模式，针对孕产妇在全过程的医疗保健和健康宣教，以及育婴服务等妇婴医疗流程和就医路径进行科学、全面、系统地设计和照护。
				</p>
			</div>
		</article>
		<div class="fenge"></div>
		<footer>
			<ul>
				<li>
					<a href="index.html">
						<i class="iconfont icon-zhuye"></i>
						<p>首页</p>
					</a>
				</li>
				<li>
					<a href="fenlei.html">
						<i class="iconfont icon-wendashoujibanICON-"></i>
						<p>分类</p>
					</a>
				</li>
				<li>
					<a href="tongzhi.html">
						<i class="iconfont icon-xiaoxi"></i>
						<p>消息</p>
					</a>
				</li>
				<li>
					<a href="my.html">
						<i class="iconfont icon-yonghu"></i>
						<p>我的</p>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>