<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>积分商城-贵港红房子</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/iconfont.css">
    <link rel="stylesheet" href="__ROOT__/Public/css/common.css" />
    <link rel="stylesheet" href="__ROOT__/Public/css/index.css" />
</head>
<body>
<header class="index_center">
    <img src="__ROOT__/Public/images/logo.png" class="auto_margin" style="width: 65%;padding: 3% 0;" />
</header>
<article class="index_center">
    <img src="__ROOT__/Public/images/jf-banner.jpg" />
</article>
<article class="jf_nav index_center" style="margin: 3% auto;">
    <ul class="jf_nav_ul">
        <li>
            <a href="list_huodong.html">
                <img src="__ROOT__/Public/images/nav1.jpg" />
                <h2>活动</h2>
            </a>
        </li>
        <li>
            <a href="sign_in.html">
                <img src="__ROOT__/Public/images/nav2.jpg" />
                <h2>签到</h2>
            </a>
        </li>
        <li>
            <a href="list_jifen.html">
                <img src="__ROOT__/Public/images/nav3.jpg" />
                <h2>积分</h2>
            </a>
        </li>
        <li>
            <a href="list_duihuan.html">
                <img src="__ROOT__/Public/images/nav4.jpg" />
                <h2>兑换查询</h2>
            </a>
        </li>
    </ul>
</article>
<article class="jf_part1 index_center">
    <h2 class="jf_part_title">礼品兑换区</h2>
    <ul class="jf_part1_items_ul">
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
    </ul>
    <div class="jf_part_more">
        <p>查看更多兑换礼品 ></p>
    </div>
</article>
<article class="jf_part1 index_center">
    <h2 class="jf_part_title">伊利礼品专区</h2>
    <ul class="jf_part1_items_ul">
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
        <li>
            <img src="__ROOT__/Public/images/dh1.jpg" />
            <div class="jf_part1_items_title">
                <h3>华为自拍杆</h3>
                <p class="jf_part1_items_desc">多角度绽放你的美</p>
                <p class="jf_part1_items_jf"><span>●</span>积分：88</p>
            </div>
        </li>
    </ul>
    <div class="jf_part_more">
        <p>查看更多兑换礼品 ></p>
    </div>
</article>
<div class="fenge">

</div>
<footer>
    <ul>
        <li>
            <a href="index.html">
                <i class="iconfont icon-zhuye"></i>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="fenlei.html">
                <i class="iconfont icon-wendashoujibanICON-"></i>
                <p>分类</p>
            </a>
        </li>
        <li>
            <a href="tongzhi.html">
                <i class="iconfont icon-xiaoxi"></i>
                <p>消息</p>
            </a>
        </li>
        <li>
            <a href="my.html">
                <i class="iconfont icon-yonghu"></i>
                <p>我的</p>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>