<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>积分商城-贵港红房子</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/list_huodong.css" />
	</head>
	<body>
		<header class="index_center">
			<img src="images/logo.png" class="auto_margin" style="width: 65%;padding: 3% 0;" />
		</header>
		<article class="index_center">
			<img src="images/index-banner.jpg" />
		</article>
		<article class="jf_nav index_center" style="margin: 3% auto;">
			<ul class="jf_nav_ul">
				<li>
					<a href="list_huodong.html">
						<img src="images/nav1.jpg" />
						<h2>活动</h2>
					</a>
				</li>
				<li>
					<a href="sign_in.html">
						<img src="images/nav2.jpg" />
						<h2>签到</h2>
					</a>
				</li>
				<li>
					<a href="list_jifen.html">
						<img src="images/nav3.jpg" />
						<h2>积分</h2>
					</a>
				</li>
				<li>
					<a href="list_duihuan.html">
						<img src="images/nav4.jpg" />
						<h2>兑换查询</h2>
					</a>
				</li>
			</ul>
		</article>
		<article class="list_huodong_part1 index_center" style="margin-bottom: 5%;">
			<h2 class="list_huodong_part_title">红房子近期活动内容</h2>
			<div class="search_area">
				<form action="" style="position: relative;">
					<input type="text" class="search_input" name="search" id="search"  />
					<input type="button" id="btn_search" name="btn_search" class="search_btn" value="查询" />
				</form>
			</div>
			<ul class="list_huodong_part1_items_ul">
				<li>
					<img src="images/list1.png" />
					<div class="list_huodong_part1_items_title">
						<span>2017-8-15</span>
						<h3>华为自拍杆</h3>
						<p class="list_huodong_part1_items_desc">多角度绽放你的美</p>
					</div>
				</li>
				<li>
					<img src="images/list1.png" />
					<div class="list_huodong_part1_items_title">
						<span>2017-8-15</span>
						<h3>华为自拍杆</h3>
						<p class="list_huodong_part1_items_desc">多角度绽放你的美</p>
					</div>
				</li>
				<li>
					<img src="images/list1.png" />
					<div class="list_huodong_part1_items_title">
						<span>2017-8-15</span>
						<h3>华为自拍杆</h3>
						<p class="list_huodong_part1_items_desc">多角度绽放你的美</p>
					</div>
				</li>
			</ul>
		</article>
		<div class="fenge"></div>
		<footer>
			<ul>
				<li>
					<a href="index.html">
						<i class="iconfont icon-zhuye"></i>
						<p>首页</p>
					</a>
				</li>
				<li>
					<a href="fenlei.html">
						<i class="iconfont icon-wendashoujibanICON-"></i>
						<p>分类</p>
					</a>
				</li>
				<li>
					<a href="tongzhi.html">
						<i class="iconfont icon-xiaoxi"></i>
						<p>消息</p>
					</a>
				</li>
				<li>
					<a href="my.html">
						<i class="iconfont icon-yonghu"></i>
						<p>我的</p>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>