<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>积分商城-贵港红房子</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/my.css" />
	</head>
	<body>
		<header class="index_center">
			<img src="images/logo.png" class="auto_margin" style="width: 65%;padding: 3% 0;" />
		</header>
		<article class="my_info index_center">
			<div class="my_info_l">
				<img src="images/tx.png" />
				用户名字
			</div>
			<div class="my_info_r">
				<p>
					<img src="images/hg2.png" />
					会员积分 98
				</p>
			</div>
		</article>
		<article class="index_center">
			<img src="images/yg-banner.jpg" />
		</article>
		<article class="margintop_5 index_center">
			<ul class="my_op">
				<li>
					<img src="images/tb1.png" />
					<p>个人资料<span>&gt;</span></p>
				</li>
				<li>
					<img src="images/tb2.png" />
					<p>积分咨询<span>&gt;</span></p>
				</li>
				<li>
					<img src="images/tb3.png" />
					<p>兑换查询<span>&gt;</span></p>
				</li>
				<li>
					<img src="images/tb4.png" />
					<p>帐号管理<span>&gt;</span></p>
				</li>
			</ul>
		</article>
		<div class="fenge"></div>
		<footer>
			<ul>
				<li>
					<a href="index.html">
						<i class="iconfont icon-zhuye"></i>
						<p>首页</p>
					</a>
				</li>
				<li>
					<a href="fenlei.html">
						<i class="iconfont icon-wendashoujibanICON-"></i>
						<p>分类</p>
					</a>
				</li>
				<li>
					<a href="tongzhi.html">
						<i class="iconfont icon-xiaoxi"></i>
						<p>消息</p>
					</a>
				</li>
				<li>
					<a href="my.html">
						<i class="iconfont icon-yonghu"></i>
						<p>我的</p>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>